#changelog .content {
  padding: 0.5rem;
  max-height: 8rem;
  overflow: auto;
  li {
   list-style: none;
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
  strong {
    display: block;
  }
  span {
    font-size: 0.9em;
  }
}