#container {
  margin: 0 auto;
  max-width: 400px;
}

#header {
  height: 200px;
  width: 100%;
  display: grid;
  grid-template-areas:
    "pic name"
    "pic username"
    "pic bio";
  grid-template-columns: 1fr 62%;
  grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
}

#header > * {
  border: 1px solid red;
}

#header a {
  grid-area: pic;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#header a img {
  object-fit: cover;
  height: 100%;
  width: auto;
}

#header #name {
  grid-area: name;
}

#header #username {
  grid-area: username;
}

#header #bio {
  grid-area: bio;
}

#name, #username, #bio {
  max-height: 200px;
}

.post {
  border: 1px solid black;
}

.post .profilePic {
  height: 4em;
  width: 4em;
}