$m-color: #f0f0f0;

:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url("https://file.garden/ZRgh3nzfnhFDJvPp/Arrow.png"), auto !important;
}

body {
  height: 100dvh;
  width: 100vw;
  font-family: 'Trebuchet MS';
  overflow: auto;
}

a, button, input, select {
  cursor: url("https://file.garden/ZRgh3nzfnhFDJvPp/hand.gif"), auto !important;
}

/* ---------------------------- */

.main-wrapper {
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid red;
  max-width: 53rem;
  height: max-content;
  overflow: visible;
}

.main-container {
  height: auto;
  width: 100%;
  grid-template-areas:
    "header header header"
    "aside-l main aside-r"
    "aside-l main aside-r"
    "footer footer footer";
  grid-template-columns: 1fr 55% 1fr;
  grid-template-rows: 180px repeat(2, 1fr) minmax(min-content, max-content);
}

.main-container > * {
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.main-container > header {
  grid-area: header;
  justify-content: flex-end;
}

.main-container main {
  grid-area: main;
}

.main-container aside.l {
  grid-area: aside-l;
}

.main-container aside.r {
  grid-area: aside-r;
}

.main-container footer {
  grid-area: footer;
}

.main-container main > div {
  overflow: auto;
}

aside {
  padding: 0.5rem;
  gap: 0.5rem;
}

.center-container {
  padding: 0.5rem;
  gap: 0.75rem;
  align-items: start;
}

nav ul {
  list-style: none;
  li {
    flex-shrink: 1;  
    &:not(:last-child) {
     border-bottom: 1px solid green;
    }
  }
  a {
    display: block;
    height: 100%;
    width: 100%;
    padding: 0.2rem 0.3rem;
    text-decoration: none;
  }
}

.box-wrapper {
  border: 1px solid red;
  height: max-content;
  width: 100%;
  padding: 3%;
}

.box {
  border: 1px solid black;
}

.box header {
  font-size: 1.1em;
  padding: 0.2rem 0 0.2rem 0.4rem;
  border-bottom: 1px solid blue;
}

#pg-about-section {
  border: 1px solid black;
  padding: 0.75rem;
  height: max-content;
}

#pg-about-section p {
  height: 12.5rem;
  overflow: auto;
}

#blinkies {
  height: 50px; /* temporary */
  border: 1px solid black;
}

.marquee {
  overflow: hidden;
  display: flex;
  align-items: center;
}

.marquee div {
  display: inline-block;
  white-space: nowrap;
  overflow: visible;
  width: fit-content;
  animation: marquee 10s infinite linear;
}

.marquee div span {
  display: inline-block;
  border: 1px solid gray;
  padding: 0.25rem 0.5rem;
}

.page-doll {
  height: 13rem;
  width: 8rem;
  border: 1px solid purple;
  background: hsla(0, 0%, 100%, 0.75);
  right: 15%;
  bottom: 0;
}

@keyframes marquee {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media screen and (max-width: 750px) {
  .main-container {
    display: flex !important;
    flex-direction: column !important;
  }
}
