$m-color: #f0f0f0;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: url("https://file.garden/ZRgh3nzfnhFDJvPp/Arrow.png"), auto !important;
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  height: 100dvh;
  width: 100vw;
}

a, button, input, select {
  cursor: url("https://file.garden/ZRgh3nzfnhFDJvPp/hand.gif"), auto !important;
}

.main-container {
  max-height: 800px;
  width: 85vw;
  grid-template-areas:
    "header header header"
    "aside-l main aside-r"
    "aside-l main aside-r"
    "footer footer footer";
  grid-template-columns: 1fr 55% 1fr;
  grid-template-rows: 110px repeat(2, 1fr) 30px;
}

.main-container > * {
  height: 100%;
  width: 100%;
  border: 1px solid red;
}

.main-container header {
  grid-area: header;
}

.main-container main {
  grid-area: main;
}

.main-container aside.l {
  grid-area: aside-l;
}

.main-container aside.r {
  grid-area: aside-r;
}

.main-container footer {
  grid-area: footer;
}

.main-container main > div {
  overflow: auto;
}


