<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <meta
      name="description"
      content="my site where I talk about myself, my interests, and upload a bunch of fonts"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/main.css{{ nocache }}" />
  </head>
  <body class="flex justify-center align-center">
    <div class="main-wrapper relative">
      <div class="main-container grid">
        <header>
          <h1>Angela's Website</h1>
        </header>
        <aside class="l flex flex-col">
          <div class="box">
            <header>navigation</header>
            <nav aria-label="page navigation">
              <ul class="flex flex-col">
                <li><a href="./home">home</a></li>
                <li><a href="./about">about</a></li>
                <li><a href="./fonts_a-h">fonts</a></li>
                <li><a href="./credits">credits</a></li>
              </ul>
            </nav>
          </div>
          <div class="box">
            <header>stats</header>
            <!-- status.cafe, imood -->
          </div>
        </aside>
        <main>
          {{ content | safe }}
        </main>
        <aside class="r flex flex-col">
          <div class="box">
            <header>update log</header>
            <!-- rss powered update log -->
          </div>
          <div class="box">
            <header>piclog</header>
            <div id="piclog" class="w-full">
              <a href="https://piclog.blue/profile.php?id=1308"><img src="https://piclog.blue/latest.php?id=1308"></a>
            </div>
          </div>
          <div class="box">
            <div class="calendar-container" id="calendar-container">
              <div class="calendar-body">
                <p class="calendar-current-date"></p>
                <ul class="calendar-weekdays">
                  <li>S</li>
                  <li>M</li>
                  <li>T</li>
                  <li>W</li>
                  <li>T</li>
                  <li>F</li>
                  <li>S</li>
                </ul>
                <ul class="calendar-dates"></ul>
              </div>
            </div>
          </div>
        </aside>
        <footer></footer>
      </div>
      <div class="page-doll absolute">example</div>
    </div>
    <script src="../assets/js/main.js{{ nocache }}" async defer></script>
  </body>
</html>
