<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ title }}</title>
    <meta
      name="description"
      content="my site where I talk about myself, my interests, and upload a bunch of fonts"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../assets/main.css{{ nocache }}" />

    <!-- chattable -->
    <script src="https://iframe.chat/scripts/main.min.js"></script>
  </head>
  <body class="flex justify-center align-center">
    <div class="main-wrapper relative">
      <div class="main-container grid">
        <header class="flex flex-col">
          <h1>Angela's Website</h1>
        </header>
        <aside class="l flex flex-col relative">
          <!-- navigation -->
          <div class="box-wrapper">
            <div class="box main-nav">
              <header>navigation</header>
              <nav aria-label="page navigation">
                <ul class="flex flex-col">
                  <li><a href="./home">home</a></li>
                  <li><a href="./about">about</a></li>
                  <li><a href="./fonts_a-h">fonts</a></li>
                  <li><a href="./credits">credits</a></li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- status -->
          <div class="box-wrapper">
            <div class="box status">
              <header>stats</header>
              <div class="inner">
                <p>
                  I'm feeling...
                  <a href="https://www.imood.com/users/inklimg"
                    ><img
                      src="https://moods.imood.com/display/uname-inklimg/imood.gif"
                      alt="The current mood of inklimg at www.imood.com"
                      border="0"
                  /></a>
                </p>
                <div id="statuscafe">
                  <div id="statuscafe-username"></div>
                  <div id="statuscafe-content"></div>
                  <a href="https://status.cafe"><img src="https://status.cafe/assets/button.png" alt="Status Cafe"/></a>
                </div>
                <script
                  src="https://status.cafe/current-status.js?name=angellll"
                  defer
                ></script>
              </div>
            </div>
          </div>
        </aside>
        <!-- MAIN CONTENT -->
        <main>
          {{ content | safe }}
        </main>
        <aside class="r flex flex-col">
          <!-- changelog -->
          <div class="box-wrapper">
            <div class="box changelog">
              <header>changelog</header>
              <div class="inner">
                {% for log in changelog %}
                <li class="changelog-log">
                  <strong>{{ log.date }}</strong>
                  <span>{{ log.text }}</span>
                </li>
                {% endfor %}
              </div>
            </div>
          </div>
          <!-- piclog -->
          <div class="box-wrapper">
            <div class="box piclog">
              <header>piclog</header>
              <div id="piclog-img">
                <a href="https://piclog.blue/profile.php?id=1308">
                  <img src="https://piclog.blue/latest.php?id=1308" />
                </a>
              </div>
            </div>
          </div>
          <!-- calendar -->
          <div class="calendar-container" id="calendar-container">
            <div class="calendar-body">
              <p class="calendar-current-date"></p>
              <ul class="calendar-weekdays">
                <li>S</li>
                <li>M</li>
                <li>T</li>
                <li>W</li>
                <li>T</li>
                <li>F</li>
                <li>S</li>
              </ul>
              <ul class="calendar-dates"></ul>
            </div>
          </div>
        </aside>
        <footer>
          <div class="footer-content flex w-full">
            <span>mu&ntilde;eca</span> | <span>link</span> | <span>link</span> |
            <span>link</span>
          </div>
        </footer>
      </div>
    </div>
    <script src="../assets/js/main.js{{ nocache }}" async defer></script>
  </body>
</html>
