/* ---------------------------------- font imports ---------------------------------- */

/* -----------------
# ------------------
----------------- */

@font-face {
  font-family: "04B_11";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/04B_11.TTF") format("truetype");
}

@font-face {
  font-family: "04b_19";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/04B_19.TTF") format("truetype");
}

@font-face {
  font-family: "04b_25";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/04b_25.ttf") format("truetype");
}

@font-face {
  font-family: "04b_30";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/04B_30.TTF") format("truetype");
}

@font-face {
  font-family: "04b03";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/04B_03.TTF") format("truetype");
}

@font-face {
  font-family: "13 Misa";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/13_Misa.TTF")
    format("truetype");
}

@font-face {
  font-family: "1up!";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/1up.ttf") format("truetype");
}

/* -----------------
A ------------------
----------------- */

@font-face {
  font-family: "Adorable Doll";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/AdorableDoll.ttf")
    format("truetype");
}

@font-face {
  font-family: "After Punk";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/AfterPunk.otf")
    format("opentype");
}

@font-face {
  font-family: "Akira";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Akira-Expanded-Demo.otf")
    format("opentype");
}

@font-face {
  font-family: "Alkhemikal";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Alkhemikal.ttf")
    format("truetype");
}

@font-face {
  font-family: "Aloevera";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Aloevera.ttf")
    format("truetype");
}

@font-face {
  font-family: "Alice in Wonderland";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Alice_in_Wonderland.ttf")
    format("truetype");
}

@font-face {
  font-family: "Angelic Alchemy";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/AngelicAlchemy.ttf")
    format("truetype");
}

@font-face {
  font-family: "Angels";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Angels.ttf") format("truetype");
}

@font-face {
  font-family: "Anomega";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Anomega.ttf")
    format("truetype");
}

@font-face {
  font-family: "Anticode";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Anticode.ttf")
    format("truetype");
}

@font-face {
  font-family: "Antistroke";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Antistroke.otf")
    format("opentype");
}

@font-face {
  font-family: "Antology";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Antology.ttf")
    format("truetype");
}

@font-face {
  font-family: "Arcade";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/ARCADE_I.TTF")
    format("truetype");
}

@font-face {
  font-family: "Arcade Solid";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/ARCADE_N.TTF")
    format("truetype");
}

@font-face {
  font-family: "Arcade Smooth";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/ARCADE_R.TTF")
    format("truetype");
}

@font-face {
  font-family: "Astonia";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Astonia.otf")
    format("opentype");
}

/* -----------------
B ------------------
----------------- */

@font-face {
  font-family: "Back Wild";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Back-Wild.woff2")
    format("woff2");
}

@font-face {
  font-family: "Baratheon";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Baratheon.otf")
    format("opentype");
}

@font-face {
  font-family: "Benn";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Benn.otf") format("opentype");
}

@font-face {
  font-family: "Benord";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Benord.otf") format("opentype");
}

@font-face {
  font-family: "Bicrode";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/BICRODE.ttf")
    format("truetype");
}

@font-face {
  font-family: "Black Nebula";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/BlackNebula.ttf")
    format("truetype");
}

@font-face {
  font-family: "Brutalism";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/y2k-brutalism.otf")
    format("opentype");
}

@font-face {
  font-family: "BT Brainstorm";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/BT-Brainstorm-Marker.ttf")
    format("truetype");
}

@font-face {
  font-family: "Bulgaria Ligatura";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Bulgaria_Ligatura.otf")
    format("opentype");
}

@font-face {
  font-family: "Bulito";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Bulito.ttf") format("truetype");
}

/* -----------------
C ------------------
----------------- */

@font-face {
  font-family: "Cageroll";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Cageroll-Standard.otf")
    format("opentype");
}

@font-face {
  font-family: "Cageroll Cage";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Cageroll-Cage.otf")
    format("opentype");
}

@font-face {
  font-family: "Cageroll Roll";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Cageroll-Roll.otf")
    format("opentype");
}

@font-face {
  font-family: "Candy Beans";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Candy-Beans.otf")
    format("opentype");
}

@font-face {
  font-family: "Cassandra";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/CassandraTwo.ttf")
    format("truetype");
}

@font-face {
  font-family: "Catways";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Catways.otf")
    format("opentype");
}

@font-face {
  font-family: "Cheerful Peach";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/CheerfulPeach.otf")
    format("opentype");
}

@font-face {
  font-family: "Cherry Bomb";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/CherryBombOne-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Chocolate Donuts";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Chocolate%20Donuts.otf")
    format("opentype");
}

@font-face {
  font-family: "Circo";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/circo.otf") format("opentype");
}

@font-face {
  font-family: "Computerfont";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Computerfont.ttf")
    format("truetype");
}

@font-face {
  font-family: "Crunch Chips";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Crunch%20Chips.otf")
    format("opentype");
}

@font-face {
  font-family: "Cyber";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/CYBER.ttf") format("truetype");
}

@font-face {
  font-family: "Cyrivendell";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Cyrivendell.ttf")
    format("truetype");
}

/* -----------------
D ------------------
----------------- */

@font-face {
  font-family: "Daily Note";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Daily%20Note.otf")
    format("opentype");
}

@font-face {
  font-family: "Dalfitra";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Dalfitra.otf")
    format("opentype");
}

@font-face {
  font-family: "Dark Future";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Dark-Future.ttf")
    format("truetype");
}

@font-face {
  font-family: "Demon";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/DEMON-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Depixel";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/depixel.woff2") format("woff2");
}

@font-face {
  font-family: "Digibop";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/DigiBop-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Digifit";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/DIGIFIT.TTF")
    format("truetype");
}

@font-face {
  font-family: "Digistick";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Digistick-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Digital Disco";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/DigitalDisco.ttf")
    format("truetype");
}

@font-face {
  font-family: "Dimitri";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/DIMIS_.TTF") format("truetype");
}

@font-face {
  font-family: "Dimitri Solid";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/DIMITRI_.TTF")
    format("truetype");
}

@font-face {
  font-family: "Dino Care";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/DinoCare.otf")
    format("opentype");
}

@font-face {
  font-family: "Double Homicide";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/DoubleHomicide.ttf")
    format("truetype");
}

@font-face {
  font-family: "Dojebi";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Dojebi.otf") format("opentype");
}

@font-face {
  font-family: "Dreamcatcher";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Dreamcatcher.otf")
    format("opentype");
}

/* -----------------
E ------------------
----------------- */

@font-face {
  font-family: "Easy 3D";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Easy%203D.ttf")
    format("truetype");
}

@font-face {
  font-family: "Esse Grotesk";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Esse_Grotesk.otf")
    format("opentype");
}

@font-face {
  font-family: "Estrella";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Estrella-Early.otf")
    format("opentype");
}

@font-face {
  font-family: "Excelorate";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Excelorate-Font.otf")
    format("opentype");
}

/* -----------------
F ------------------
----------------- */

@font-face {
  font-family: "Felgine";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/felgine.otf")
    format("opentype");
}

@font-face {
  font-family: "Fifties Movies";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Fifties%20Movies.ttf")
    format("truetype");
}

@font-face {
  font-family: "Fight!";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/FIGHT.otf") format("opentype");
}

@font-face {
  font-family: "Funkydori";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Funkydori.woff2")
    format("woff2");
}

/* -----------------
G ------------------
----------------- */

@font-face {
  font-family: "Gemstone";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Gemstone.ttf")
    format("truetype");
}

@font-face {
  font-family: "Gencity";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Gencity.otf")
    format("opentype");
}

@font-face {
  font-family: "Gerad";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/gerad-regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Ghetto";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/ghetto.ttf") format("truetype");
}

@font-face {
  font-family: "Giallo Chiaro";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/GialloChiaro.ttf")
    format("truetype");
}

@font-face {
  font-family: "Glamor";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Glamor.otf") format("opentype");
}

@font-face {
  font-family: "Glamor Bold";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Glamor-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Gothical";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Gothical.ttf")
    format("truetype");
}

@font-face {
  font-family: "Gothular";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Gothular_Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Grafier";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Grafier.otf")
    format("opentype");
}

@font-face {
  font-family: "Graphik Arts";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Graphik-Arts.ttf")
    format("truetype");
}

@font-face {
  font-family: "Gravestone";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Gravestone-Demo.otf")
    format("opentype");
}

/* -----------------
H ------------------
----------------- */

@font-face {
  font-family: "Hanazome";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/hanazome.ttf")
    format("truetype");
}

@font-face {
  font-family: "Handineat";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Handineat.otf")
    format("opentype");
}

@font-face {
  font-family: "Headway";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Headway.ttf")
    format("truetype");
}

@font-face {
  font-family: "Hey Comic";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Hey%20Comic.otf")
    format("opentype");
}

@font-face {
  font-family: "Husky Stash";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/husky-stash.ttf")
    format("truetype");
}

/* ---------------------------------- section fonts ---------------------------------- */

/* -----------------
# ------------------
----------------- */

.O4B_11 {
  font-family: "04B_11";
}

.O4b_19 {
  font-family: "04b_19";
}

.O4b_25 {
  font-family: "04b_25";
}

.O4b_30 {
  font-family: "04b_30";
}

.O4b03 {
  font-family: "04b03";
}

.I3-Misa {
  font-family: "13 Misa";
}

.Iup {
  font-family: "1up!";
}

/* -----------------
A ------------------
----------------- */

.adorable-doll {
  font-family: "Adorable Doll";
}

.after-punk {
  font-family: "After Punk";
}

.akira {
  font-family: "Akira";
}

.alice-in-wonderland {
  font-family: "Alice in Wonderland";
}

.alkhemikal {
  font-family: "Alkhemikal";
}

.aloevera {
  font-family: "Aloevera";
}

.angelic-alchemy {
  font-family: "Angelic Alchemy";
}

.angels {
  font-family: "Angels";
}

.anomega {
  font-family: "Anomega";
}

.anticode {
  font-family: "Anticode";
}

.antistroke {
  font-family: "Antistroke";
}

.antology {
  font-family: "Antology";
}

.arcade {
  font-family: "Arcade";
}

.arcade-s {
  font-family: "Arcade Solid";
}

.arcade-sm {
  font-family: "Arcade Smooth";
}

.astonia {
  font-family: "Astonia";
}

/* -----------------
B ------------------
----------------- */

.back-wild {
  font-family: "Back Wild";
}

.baratheon {
  font-family: "Baratheon";
}

.benn {
  font-family: "Benn";
}

.benord {
  font-family: "Benord";
}

.bicrode {
  font-family: "Bicrode";
}

.black-nebula {
  font-family: "Black Nebula";
}

.brutalism {
  font-family: "Brutalism";
}

.bt-brainstorm {
  font-family: "BT Brainstorm";
}

.bulgaria-ligatura {
  font-family: "Bulgaria Ligatura";
}

.bulito {
  font-family: "Bulito";
}

/* -----------------
C ------------------
----------------- */

.cageroll {
  font-family: "Cageroll";
}

.cageroll-c {
  font-family: "Cageroll Cage";
}

.cageroll-r {
  font-family: "Cageroll Roll";
}

.candy-beans {
  font-family: "Candy Beans";
}

.cassandra {
  font-family: "Cassandra";
}

.catways {
  font-family: "Catways";
}

.cheerful-peach {
  font-family: "Cheerful Peach";
}

.cherry-bomb {
  font-family: "Cherry Bomb";
}

.chocolate-donuts {
  font-family: "Chocolate Donuts";
}

.circo {
  font-family: "Circo";
}

.computerfont {
  font-family: "Computerfont";
}

.crunch-chips {
  font-family: "Crunch Chips";
}

.cyber {
  font-family: "Cyber";
}

.cyrivendell {
  font-family: "Cyrivendell";
}

/* -----------------
D ------------------
----------------- */

.daily-note {
  font-family: "Daily Note";
}

.dalfitra {
  font-family: "Dalfitra";
}

.dark-future {
  font-family: "Dark Future";
}

.demon {
  font-family: "Demon";
}

.depixel {
  font-family: "Depixel";
}

.digibop {
  font-family: "Digibop";
}

.digifit {
  font-family: "Digifit";
}

.digistick {
  font-family: "Digistick";
}

.digital-disco {
  font-family: "Digital Disco";
}

.dimitri {
  font-family: "Dimitri";
}

.dimitri-s {
  font-family: "Dimitri Solid";
}

.dino-care {
  font-family: "Dino Care";
}

.dojebi {
  font-family: "Dojebi";
}

.double-homicide {
  font-family: "Double Homicide";
}

.dreamcatcher {
  font-family: "Dreamcatcher";
}

/* -----------------
E ------------------
----------------- */

.easy-3d {
  font-family: "Easy 3D";
}

.esse-grotesk {
  font-family: "Esse Grotesk";
}

.estrella {
  font-family: "Estrella";
}

.excelorate {
  font-family: "Excelorate";
}

/* -----------------
F ------------------
----------------- */

.felgine {
  font-family: "Felgine";
}

.fifties-movies {
  font-family: "Fifties Movies";
}

.fight {
  font-family: "Fight!";
}

.funkydori {
  font-family: "Funkydori";
}

/* -----------------
G ------------------
----------------- */

.gemstone {
  font-family: "Gemstone";
}

.gencity {
  font-family: "Gencity";
}

.gerad {
  font-family: "Gerad";
}

.ghetto {
  font-family: "Ghetto";
}

.giallo-chiaro {
  font-family: "Giallo Chiaro";
}

.glamor {
  font-family: "Glamor";
}

.glamor-b {
  font-family: "Glamor Bold";
}

.gothical {
  font-family: "Gothical";
}

.gothular {
  font-family: "Gothular";
}

.grafier {
  font-family: "Grafier";
}

.graphik-arts {
  font-family: "Graphik Arts";
}

.gravestone {
  font-family: "Gravestone";
}

/* -----------------
H ------------------
----------------- */

.hanazome {
  font-family: "Hanazome";
}

.handineat {
  font-family: "Handineat";
}

.headway {
  font-family: "Headway";
}

.hey-comic {
  font-family: "Hey Comic";
}

.husky-stash {
  font-family: "Husky Stash";
}

/* ---------------------------------- font imports ---------------------------------- */

/* -----------------
I ------------------
----------------- */

@font-face {
  font-family: "Info Story";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/InfoStory.otf")
    format("opentype");
}

@font-face {
  font-family: "Inkverse";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/InkVerse.ttf")
    format("truetype");
}

@font-face {
  font-family: "Insomnyacs";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Insomnyacs.otf")
    format("opentype");
}

/* -----------------
J ------------------
----------------- */

@font-face {
  font-family: "Jojoba";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Jojoba.otf") format("opentype");
}

@font-face {
  font-family: "Junegull";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/junegull.otf")
    format("opentype");
}

/* -----------------
K ------------------
----------------- */

@font-face {
  font-family: "Keyute";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/keyute.regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Kimura";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Kimura.otf") format("opentype");
}

@font-face {
  font-family: "Kinky";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/KINKY.otf") format("opentype");
}

@font-face {
  font-family: "Kiwi Soda";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/KiwiSoda.ttf")
    format("truetype");
}

@font-face {
  font-family: "Kollera";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Kollera.otf")
    format("opentype");
}

/* -----------------
L ------------------
----------------- */

@font-face {
  font-family: "Lakuna";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Lakuna.otf") format("opentype");
}

@font-face {
  font-family: "Lazy Dog";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Lazydog.otf")
    format("opentype");
}

@font-face {
  font-family: "Leentank";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Leentank.otf")
    format("opentype");
}

@font-face {
  font-family: "Leentank Star";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/LeentankStar.otf")
    format("opentype");
}

@font-face {
  font-family: "Lemon Days";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/LEMONB.ttf") format("truetype");
}

@font-face {
  font-family: "Little Devil";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/LittleDevil.ttf")
    format("truetype");
}

@font-face {
  font-family: "Lonely Bridges";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/LonelyBridges.otf")
    format("opentype");
}

/* -----------------
M ------------------
----------------- */

@font-face {
  font-family: "Magic Retro";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/MagicRetro.ttf")
    format("truetype");
}

@font-face {
  font-family: "Marshland Beauty";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/MarshlandBeauty.ttf")
    format("truetype");
}

@font-face {
  font-family: "Mellow Melody";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/MellowMelody-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Michelle";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Michelle.otf")
    format("opentype");
}

@font-face {
  font-family: "Mogilte";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Mogilte.otf")
    format("opentype");
}

@font-face {
  font-family: "Moonchild";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Moonchild.otf")
    format("opentype");
}

/* -----------------
N ------------------
----------------- */

@font-face {
  font-family: "Neat Handwriting";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/NeatHandwriting.otf")
    format("opentype");
}

@font-face {
  font-family: "Neon Blitz";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Neonblitz.otf")
    format("opentype");
}

@font-face {
  font-family: "Neo Syber";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Neo-Syber-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Neo Syber Outline";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Neo-Syber-RegularOutline.otf")
    format("opentype");
}

@font-face {
  font-family: "Neopixel";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/NEOPIXEL.otf")
    format("opentype");
}

@font-face {
  font-family: "New Ramen";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/NewRamen.otf")
    format("opentype");
}

@font-face {
  font-family: "Nexa Extra Light";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Nexa-ExtraLight.ttf")
    format("truetype");
}

@font-face {
  font-family: "Nexa Heavy";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Nexa-Heavy.ttf")
    format("truetype");
}

@font-face {
  font-family: "Noisy Walk";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/NoisyWalk.ttf")
    format("truetype");
}

/* -----------------
O ------------------
----------------- */

@font-face {
  font-family: "Oaklash";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Oaklash.ttf")
    format("truetype");
}

@font-face {
  font-family: "Octuple Max";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Octuple-max.ttf")
    format("truetype");
}

@font-face {
  font-family: "Old Newspaper Types";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/OldNewspaperTypes.ttf")
    format("truetype");
}

@font-face {
  font-family: "Onyxia";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Onyxia.otf")
    format("opentype");
}

@font-face {
  font-family: "Orith";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/OrithDisplay-Regular.woff2")
    format("woff2");
}

/* -----------------
P ------------------
----------------- */

@font-face {
  font-family: "Paperkut";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Paperkut.otf")
    format("opentype");
}

@font-face {
  font-family: "Paperkut Bold";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Paperkut-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Paperkut Pixel";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Paperkut-Pixel.ttf")
    format("truetype");
}

@font-face {
  font-family: "Paperkut Pixel Bold";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Paperkut-PixelBold.ttf")
    format("truetype");
}

@font-face {
  font-family: "Paradizo";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Paradizo.otf")
    format("opentype");
}

@font-face {
  font-family: "Paris Avenue";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Paris-Avenue.ttf")
    format("truetype");
}

@font-face {
  font-family: "Pingsan";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Pingsan.otf")
    format("opentype");
}

@font-face {
  font-family: "Planet Bubble";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/PLANB.TTF") format("truetype");
}

@font-face {
  font-family: "Planet Kosmos";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/PLANK.TTF") format("truetype");
}

@font-face {
  font-family: "Planet Megapolis";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/PLANM.TTF") format("truetype");
}

@font-face {
  font-family: "Planet Tricolore";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/PLANT.TTF") format("truetype");
}

@font-face {
  font-family: "Play This Game";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/play%20this%20game.ttf")
    format("truetype");
}

@font-face {
  font-family: "Project Space";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Project-Space.otf")
    format("opentype");
}

@font-face {
  font-family: "Psychatronic";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/psycha3.ttf")
    format("truetype");
}

@font-face {
  font-family: "Protomo";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Protomo.otf")
    format("opentype");
}

@font-face {
  font-family: "Protomo Outline";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Protomo-Outline.otf")
    format("opentype");
}

/* ---------------------------------- font sections ---------------------------------- */

/* -----------------
I ------------------
----------------- */

.info-story {
  font-family: "Info Story";
}

.inkverse {
  font-family: "Inkverse";
}

.insomnyacs {
  font-family: "Insomnyacs";
}

/* -----------------
J ------------------
----------------- */

.jojoba {
  font-family: "Jojoba";
}

.junegull {
  font-family: "Junegull";
}

/* -----------------
K ------------------
----------------- */

.keyute {
  font-family: "Keyute";
}

.kimura {
  font-family: "Kimura";
}

.kinky {
  font-family: "Kinky";
}

.kiwi-soda {
  font-family: "Kiwi Soda";
}

.kollera {
  font-family: "Kollera";
}

/* -----------------
L ------------------
----------------- */

.lakuna {
  font-family: "Lakuna";
}

.lazy-dog {
  font-family: "Lazy Dog";
}

.leentank {
  font-family: "Leentank";
}

.leentank-s {
  font-family: "Leentank Star";
}

.lemon-days {
  font-family: "Lemon Days";
}

.little-devil {
  font-family: "Little Devil";
}

.lonely-bridges {
  font-family: "Lonely Bridges";
}

/* -----------------
M ------------------
----------------- */

.magic-retro {
  font-family: "Magic Retro";
}

.marshland-beauty {
  font-family: "Marshland Beauty";
}

.mellow-melody {
  font-family: "Mellow Melody";
}

.michelle {
  font-family: "Michelle";
}

.mogilte {
  font-family: "Mogilte";
}

.moonchild {
  font-family: "Moonchild";
}

/* -----------------
N ------------------
----------------- */

.neat-handwriting {
  font-family: "Neat Handwriting";
}

.neo-syber {
  font-family: "Neo Syber";
}

.neo-syber-o {
  font-family: "Neo Syber Outline";
}

.neon-blitz {
  font-family: "Neon Blitz";
}

.neopixel {
  font-family: "Neopixel";
}

.new-ramen {
  font-family: "New Ramen";
}

.nexa {
  font-family: "Nexa Extra Light";
}

.nexa-h {
  font-family: "Nexa Heavy";
}

.noisy-walk {
  font-family: "Noisy Walk";
}

/* -----------------
O ------------------
----------------- */

.oaklash {
  font-family: "Oaklash";
}

.octuple-max {
  font-family: "Octuple Max";
}

.old-newspaper-types {
  font-family: "Old Newspaper Types";
}

.onyxia {
  font-family: "Onyxia";
}

.orith {
  font-family: "Orith";
}

/* -----------------
P ------------------
----------------- */

.paperkut {
  font-family: "Paperkut";
}

.paperkut-b {
  font-family: "Paperkut Bold";
}

.paperkut-p {
  font-family: "Paperkut Pixel";
}

.paperkut-pb {
  font-family: "Paperkut Pixel Bold";
}

.paradizo {
  font-family: "Paradizo";
}

.paris-avenue {
  font-family: "Paris Avenue";
}

.pingsan {
  font-family: "Pingsan";
}

.planet-bubble {
  font-family: "Planet Bubble";
}

.planet-estyle {
  font-family: "Planet Estyle";
}

.planet-kosmos {
  font-family: "Planet Kosmos";
}

.planet-megapolis {
  font-family: "Planet Megapolis";
}

.planet-tricolore {
  font-family: "Planet Tricolore";
}

.play-this-game {
  font-family: "Play This Game";
}

.project-space {
  font-family: "Project Space";
}

.protomo {
  font-family: "Protomo";
}

.protomo-o {
  font-family: "Protomo Outline";
}

.psychatronic {
  font-family: "Psychatronic";
}

/* ---------------------------------- font imports ---------------------------------- */

/* -----------------
Q ------------------
----------------- */

@font-face {
  font-family: "Quadaptor";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/quadaptor.otf")
    format("opentype");
}

@font-face {
  font-family: "Quantico";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Quantico-Regular.ttf")
    format("truetype");
}

/* -----------------
R ------------------
----------------- */

@font-face {
  font-family: "Racing Sans";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/RacingSansOne-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "Ralders";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Ralders.otf")
    format("opentype");
}

@font-face {
  font-family: "Rameyon";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Rameyon.otf")
    format("opentype");
}

@font-face {
  font-family: "Rascon";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Rascon.ttf") format("truetype");
}

@font-face {
  font-family: "Retro Writers";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/RetroWriters.otf")
    format("opentype");
}

@font-face {
  font-family: "Retrome";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Retrome.otf")
    format("opentype");
}

@font-face {
  font-family: "Rinterland";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Rinterland.otf")
    format("opentype");
}

@font-face {
  font-family: "Romance A";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/RomanceA.ttf")
    format("truetype");
}

@font-face {
  font-family: "Romántica";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/romantica.otf")
    format("opentype");
}

@font-face {
  font-family: "Rosela";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Rosela.ttf") format("truetype");
}

/* -----------------
S ------------------
----------------- */

@font-face {
  font-family: "Sacramento";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Sacramento.ttf")
    format("truetype");
}

@font-face {
  font-family: "Saflers";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Saflers.woff") format("woff");
}

@font-face {
  font-family: "Sake Moru";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/SakeMoru.ttf")
    format("truetype");
}

@font-face {
  font-family: "Sephyr";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/SephyrRegular.otf")
    format("opentype");
}

@font-face {
  font-family: "Sister Spray";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/SisterSpray.ttf")
    format("truetype");
}

@font-face {
  font-family: "Sixty Niners";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/SixtyNiners.otf")
    format("opentype");
}

@font-face {
  font-family: "Sky Rocket";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Sky-Rocket.woff2")
    format("woff2");
}

@font-face {
  font-family: "SLADE";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/SLADE.otf") format("opentype");
}

@font-face {
  font-family: "Sofachrome";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/sofachrome-rg.otf")
    format("opentype");
}

@font-face {
  font-family: "Squashy Flow";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Squashy%20Flow.ttf")
    format("truetype");
}

@font-face {
  font-family: "Starshines";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Starshines.otf")
    format("opentype");
}

@font-face {
  font-family: "Static Age";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/stat_ft.ttf")
    format("truetype");
}

@font-face {
  font-family: "Strawberry Muffins";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Strawberry%20Muffins%20Demo.ttf")
    format("truetype");
}

@font-face {
  font-family: "Swamp Death";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Swamp%20Death.ttf")
    format("truetype");
}

@font-face {
  font-family: "Synkopy";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Synkopy-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Synkopy Flipside";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Synkopy-Flipside.otf")
    format("opentype");
}

/* -----------------
T ------------------
----------------- */

@font-face {
  font-family: "Team 401";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Team%20401.ttf")
    format("truetype");
}

@font-face {
  font-family: "Teenage Rockstar";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Teenage-Rockstar.otf")
    format("opentype");
}

@font-face {
  font-family: "Thunder";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Thunder-BlackLC.otf")
    format("opentype");
}

@font-face {
  font-family: "Toxigenesis";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/toxigenesis.otf")
    format("opentype");
}

/* -----------------
U ------------------
----------------- */

@font-face {
  font-family: "Unknow";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/unknow.woff2") format("woff2");
}

@font-face {
  font-family: "Urban Sketart";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/UrbanSketart.ttf")
    format("truetype");
}

/* -----------------
V ------------------
----------------- */

@font-face {
  font-family: "Vahika";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Vahika.otf") format("opentype");
}

@font-face {
  font-family: "Vanosky";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Vanosky.otf")
    format("opentype");
}

/* -----------------
W ------------------
----------------- */

@font-face {
  font-family: "Water Resistant";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/WaterResistant.ttf")
    format("truetype");
}

@font-face {
  font-family: "White on Black";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/White%20On%20Black.ttf")
    format("truetype");
}

@font-face {
  font-family: "Wreckside";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Wreckside.otf")
    format("opentype");
}

/* -----------------
X ------------------
----------------- */

@font-face {
  font-family: "Xcelsion";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/xcelsion.otf")
    format("opentype");
}

@font-face {
  font-family: "Xylitol";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Xylitol.otf")
    format("opentype");
}

/* -----------------
Y ------------------
----------------- */

@font-face {
  font-family: "Yerk";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Yerk-Regular.otf")
    format("opentype");
}

@font-face {
  font-family: "Yulio";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Yulio.otf") format("opentype");
}

/* -----------------
Z ------------------
----------------- */

@font-face {
  font-family: "Zephyre Conquer";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/Zephyre_Conquer.otf")
    format("opentype");
}

@font-face {
  font-family: "Zesty";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/ZESTY.otf") format("opentype");
}

@font-face {
  font-family: "Zoi Mao";
  src: url("https://file.garden/ZRgh3nzfnhFDJvPp/zoi.TTF") format("truetype");
}

/* ---------------------------------- font sections ---------------------------------- */

/* -----------------
Q ------------------
----------------- */

.quadaptor {
  font-family: "Quadaptor";
}

.quantico {
  font-family: "Quantico";
}

/* -----------------
R ------------------
----------------- */

.racing-sans {
  font-family: "Racing Sans";
}

.ralders {
  font-family: "Ralders";
}

.rameyon {
  font-family: "Rameyon";
}

.rascon {
  font-family: "Rascon";
}

.retro-writers {
  font-family: "Retro Writers";
}

.retrome {
  font-family: "Retrome";
}

.rinterland {
  font-family: "Rinterland";
}

.romance-a {
  font-family: "Romance A";
}

.romantica {
  font-family: "Romántica";
}

.rosela {
  font-family: "Rosela";
}

/* -----------------
S ------------------
----------------- */

.sacramento {
  font-family: "Sacramento";
}

.saflers {
  font-family: "Saflers";
}

.sake-moru {
  font-family: "Sake Moru";
}

.sephyr {
  font-family: "Sephyr";
}

.sister-spray {
  font-family: "Sister Spray";
}

.sixty-niners {
  font-family: "Sixty Niners";
}

.sky-rocket {
  font-family: "Sky Rocket";
}

.slade {
  font-family: "SLADE";
}

.sofachrome {
  font-family: "Sofachrome";
}

.squashy-flow {
  font-family: "Squashy Flow";
}

.starshines {
  font-family: "Starshines";
}

.static-age {
  font-family: "Static Age";
}

.strawberry-muffins {
  font-family: "Strawberry Muffins";
}

.swamp-death {
  font-family: "Swamp Death";
}

.synkopy {
  font-family: "Synkopy";
}

.synkopy-f {
  font-family: "Synkopy Flipside";
}

/* -----------------
T ------------------
----------------- */

.team-401 {
  font-family: "Team 401";
}

.teenage-rockstar {
  font-family: "Teenage Rockstar";
}

.thunder {
  font-family: "Thunder";
}

.toxigenesis {
  font-family: "Toxigenesis";
}

/* -----------------
U ------------------
----------------- */

.unknow {
  font-family: "Unknow";
}

.urban-sketart {
  font-family: "Urban Sketart";
}

/* -----------------
V ------------------
----------------- */

.vahika {
  font-family: "Vahika";
}

.vanosky {
  font-family: "Vanosky";
}

/* -----------------
W ------------------
----------------- */

.water-resistant {
  font-family: "Water Resistant";
}

.white-on-black {
  font-family: "White on Black";
}

.wreckside {
  font-family: "Wreckside";
}

/* -----------------
X ------------------
----------------- */

.xcelsion {
  font-family: "Xcelsion";
}

.xylitol {
  font-family: "Xylitol";
}

/* -----------------
Y ------------------
----------------- */

.yerk {
  font-family: "Yerk";
}

.yulio {
  font-family: "Yulio";
}

/* -----------------
Z ------------------
----------------- */

.zephyre-conquer {
  font-family: "Zephyre Conquer";
}

.zesty {
  font-family: "Zesty";
}

.zoi-mao {
  font-family: "Zoi Mao";
}

*{padding:0;margin:0;box-sizing:border-box;cursor:url("https://file.garden/ZRgh3nzfnhFDJvPp/Arrow.png"),auto !important}html,body{overflow-x:hidden;overflow-y:auto}body{height:100dvh;width:100vw}a,button,input,select{cursor:url("https://file.garden/ZRgh3nzfnhFDJvPp/hand.gif"),auto !important}.main-container{max-height:800px;width:85vw;grid-template-areas:"header header header" "aside-l main aside-r" "aside-l main aside-r" "footer footer footer";grid-template-columns:1fr 55% 1fr;grid-template-rows:110px repeat(2, 1fr) 30px}.main-container>*{height:100%;width:100%;border:1px solid red}.main-container header{grid-area:header}.main-container main{grid-area:main}.main-container aside.l{grid-area:aside-l}.main-container aside.r{grid-area:aside-r}.main-container footer{grid-area:footer}.main-container main>div{overflow:auto}.w-full{width:100%}.h-full{height:100%}.flex{display:flex}.flex-column{flex-direction:column}.justify-center{justify-content:center}.align-center{align-content:center}.grid{display:grid}.centered{margin:0 auto}.relative{position:relative}.absolute{position:absolute}.small{font-size:.8rem}.big{font-size:1.5rem}.short{line-height:.75}.tall{line-height:2.5}.wide:not(.font-name){letter-spacing:2px}#container{margin:0 auto;max-width:400px}#header{height:200px;width:100%;display:grid;grid-template-areas:"pic name" "pic username" "pic bio";grid-template-columns:1fr 75%;grid-template-rows:repeat(3, minmax(min-content, 33.3333333333%))}#header>*{border:1px solid red}#header a{grid-area:pic;display:block;height:200px;width:5em;overflow:hidden}#header a img{object-fit:cover;height:100%;width:auto}#header #name{grid-area:name}#header #username{grid-area:username}#header #bio{grid-area:bio}.post{border:1px solid #000}.post .profilePic{height:4em;width:4em}

/*# sourceMappingURL=main.css.map*/