---
layout: main_page.njk
title: "Fonts"
---

<section>
{% include 'font_outline.njk' %}
</section>

<h3 id="Q">Q</h3>

{% for font in fonts['q'] %}
<hr />
<section class="{{ font.class }}">
	<span class="font-name">
		<a href="https://file.garden/ZRgh3nzfnhFDJvPp/{{ font.url }}">{{ font.name }}</a>
	</span>
	A a B b C c D d E e F f G g H h I i J j K k L l M m N n O o P p Q q R r S s T t U u V v W w X x Y y Z z
</section>
{% endfor %}

<h3 id="R">R</h3>

{% for font in fonts['r'] %}
<hr />
<section class="{{ font.class }}">
	<span class="font-name">
		<a href="https://file.garden/ZRgh3nzfnhFDJvPp/{{ font.url }}">{{ font.name }}</a>
	</span>
	A a B b C c D d E e F f G g H h I i J j K k L l M m N n O o P p Q q R r S s T t U u V v W w X x Y y Z z
</section>
{% endfor %}

<h3 id="S">S</h3>

{% for font in fonts['s'] %}
<hr />
<section class="{{ font.class }}">
	<span class="font-name">
		<a href="https://file.garden/ZRgh3nzfnhFDJvPp/{{ font.url }}">{{ font.name }}</a>
	</span>
	A a B b C c D d E e F f G g H h I i J j K k L l M m N n O o P p Q q R r S s T t U u V v W w X x Y y Z z
</section>
{% endfor %}

<h3 id="T">T</h3>

{% for font in fonts['t'] %}
<hr />
<section class="{{ font.class }}">
	<span class="font-name">
		<a href="https://file.garden/ZRgh3nzfnhFDJvPp/{{ font.url }}">{{ font.name }}</a>
	</span>
	A a B b C c D d E e F f G g H h I i J j K k L l M m N n O o P p Q q R r S s T t U u V v W w X x Y y Z z
</section>
{% endfor %}

<h3 id="U">U</h3>

{% for font in fonts['u'] %}
<hr />
<section class="{{ font.class }}">
	<span class="font-name">
		<a href="https://file.garden/ZRgh3nzfnhFDJvPp/{{ font.url }}">{{ font.name }}</a>
	</span>
	A a B b C c D d E e F f G g H h I i J j K k L l M m N n O o P p Q q R r S s T t U u V v W w X x Y y Z z
</section>
{% endfor %}

<h3 id="V">V</h3>

{% for font in fonts['v'] %}
<hr />
<section class="{{ font.class }}">
	<span class="font-name">
		<a href="https://file.garden/ZRgh3nzfnhFDJvPp/{{ font.url }}">{{ font.name }}</a>
	</span>
	A a B b C c D d E e F f G g H h I i J j K k L l M m N n O o P p Q q R r S s T t U u V v W w X x Y y Z z
</section>
{% endfor %}

<h3 id="W">W</h3>

{% for font in fonts['w'] %}
<hr />
<section class="{{ font.class }}">
	<span class="font-name">
		<a href="https://file.garden/ZRgh3nzfnhFDJvPp/{{ font.url }}">{{ font.name }}</a>
	</span>
	A a B b C c D d E e F f G g H h I i J j K k L l M m N n O o P p Q q R r S s T t U u V v W w X x Y y Z z
</section>
{% endfor %}

<h3 id="X">X</h3>

{% for font in fonts['x'] %}
<hr />
<section class="{{ font.class }}">
	<span class="font-name">
		<a href="https://file.garden/ZRgh3nzfnhFDJvPp/{{ font.url }}">{{ font.name }}</a>
	</span>
	A a B b C c D d E e F f G g H h I i J j K k L l M m N n O o P p Q q R r S s T t U u V v W w X x Y y Z z
</section>
{% endfor %}

<h3 id="Y">Y</h3>

{% for font in fonts['y'] %}
<hr />
<section class="{{ font.class }}">
	<span class="font-name">
		<a href="https://file.garden/ZRgh3nzfnhFDJvPp/{{ font.url }}">{{ font.name }}</a>
	</span>
	A a B b C c D d E e F f G g H h I i J j K k L l M m N n O o P p Q q R r S s T t U u V v W w X x Y y Z z
</section>
{% endfor %}

<h3 id="Z">Z</h3>

{% for font in fonts['z'] %}
<hr />
<section class="{{ font.class }}">
	<span class="font-name">
		<a href="https://file.garden/ZRgh3nzfnhFDJvPp/{{ font.url }}">{{ font.name }}</a>
	</span>
	A a B b C c D d E e F f G g H h I i J j K k L l M m N n O o P p Q q R r S s T t U u V v W w X x Y y Z z
</section>
{% endfor %}